<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="admin_sider">


        <!-- Navbar Start -->
        <div class="container-fluid mb-5">
            <div class="row border-top px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                        <h6 class="m-0">Categories</h6>
                        <i class="fa fa-angle-down text-dark"></i>
                    </a>
                    <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                        <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link" data-toggle="dropdown">회원관리 <i class="fa fa-angle-down float-right mt-1"></i></a>
                                <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                    <a href="" class="dropdown-item">전체 회원 조회</a>
                                    <a href="" class="dropdown-item">회원 등급 관리</a>
                                    <a href="" class="dropdown-item">회원 결제 관리</a>
                                    <a href="" class="dropdown-item">회원 주문 관리</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link" data-toggle="dropdown">상품관리 <i class="fa fa-angle-down float-right mt-1"></i></a>
                                <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                    <a href="" class="dropdown-item">전체 상품 조회</a>
                                    <a href="" class="dropdown-item">상품 등록</a>
                                    <a href="" class="dropdown-item">상품 수정</a>
                                    <a href="" class="dropdown-item">상품 삭제</a>
                                </div>
                            </div>
                            <a href="" class="nav-item nav-link">대시보드</a>
                            <a href="" class="nav-item nav-link">게시판 관리</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar End -->

    </header>
</html>
